<h3>Employee info:</h3>

<h5>Name: <%= @employee.first_name %> <%= @employee.last_name %></h5><br>

<h5>Alias: <%= @employee.alias %></h5><br>
<h5>Title: <%= @employee.title %></h5><br>
<h5>Office: <%= @employee.office %></h5><br>
<img src = <%= @employee.img_url %> alt = "Picture of Employee" title = "Picture of Employee">




